@page "/cigarprice"

@using Models = CigarBazaar.Shared.Models;

<PageTitle>CigarPrice</PageTitle>

<h1>CigarPrice</h1>

<p>This is a dummy list</p>

@* <RadzenDataGrid @ref="grid" 
                @bind-Value=@selectedPrices
                SelectionMode="DataGridSelectionMode.Single"
                KeyProperty="Id"
                IsLoading="@isLoading" 
                Count="@count" 
                Data="@prices" 
                LoadData="@LoadData" 
                FilterPopupRenderMode="PopupRenderMode.OnDemand" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                FilterMode="FilterMode.Advanced" 
                AllowSorting="true"
                AllowFiltering="true" 
                AllowPaging="true" 
                PageSize="1" 
                PagerHorizontalAlign="HorizontalAlign.Center"
                ColumnWidth="200px">
 *@    
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                AllowGrouping="true" AllowSorting="true" PageSize="@pageSize" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                Data="@prices" TItem="Models.CigarPrice" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true"
                IsLoading=@isLoading Sort="@ShowLoading" Page="@ShowLoading" Group="@ShowLoading" Filter="@ShowLoading">
 <Columns>
        <RadzenDataGridColumn Property="@nameof(Models.CigarPrice.Id)"
                              Filterable="false" 
                              Title="ID" 
                              Frozen="true" 
                              Width="50px" 
                              TextAlign="TextAlign.Center"
                              Visible="false"/>
        <RadzenDataGridColumn Property="@nameof(Models.CigarPrice.Name)"
                              Filterable="true"
                              Title="Name"
                              TextAlign="TextAlign.Left" />
        <RadzenDataGridColumn Property="@nameof(Models.CigarPrice.Price)"
                              Filterable="true"
                              Title="Price"
                              TextAlign="TextAlign.Right" />
        <RadzenDataGridColumn Property="@nameof(Models.CigarPrice.SurchargedPrice)"
                              Filterable="true"
                              Title="Surcharged Price"
                              TextAlign="TextAlign.Right" />
    </Columns>
    <LoadingTemplate>
        <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" 
                                   Value="100" 
                                   ShowValue="false" 
                                   Mode="ProgressBarMode.Indeterminate" />
    </LoadingTemplate>
</RadzenDataGrid>
